<?xml version="1.0" encoding="UTF-8" ?>  
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd"> 

<mapper namespace="com.piedra.excel.mapper.taskMapper">
    <select id="getYjjg"  
    resultType="com.wondersgroup.shys.local.pub.common.model.vo.YjjgExcelBean" parameterType="String">
       select t1.hctbdm, t6.pm, t6.ggxhsm, t6.jjdw, t6.qymc scqy, t2.yymc, t1.cgjg, t1.ksrq, t3.qymc yjqy
		 from ysqx.tb_hcyjjgbb t1, ysqx.tb_yyxx t2, ysqx.tb_qyxx t3, 
		      (select * from(select row_number() over(partition by t1.hctbdm order by t1.hcxxid desc) sxh, t1.hctbdm, t1.pm, t1.ggxhsm, t1.jjdw, t2.qymc 
		                from ysqx.Tb_Hcxx t1, ysqx.tb_qxscqy t2 where t1.scqybm = t2.qybm) where sxh = 1) t6 
		where t1.yybm = t2.yybm and t1.PSQYBM = t3.qybm and t1.hctbdm = t6.hctbdm and t1.zt = '20' and t1.jsrq = '99991231' 
		  and nvl(t2.jgdj, '1') =#{_parameter}  
		order by t1.hctbdm, t1.yybm
    </select>
    <select id="getWssjg"   
    	resultType="com.wondersgroup.shys.local.pub.common.model.vo.WssjgExcelBean">
     	select t1.hctbdm, max(t3.pm) pm, max(t3.ggxhsm) ggxhsm, max(t3.jjdw) jjdw, max(t3.qymc) scqymc,
		 max(decode(ssdm, '01', t2.aaa103, null)) bjxt, max(case when ssdm = '01' and jgbs = 'L' then cgjg else null end) bjxl, max(case when ssdm = '01' and jgbs = 'H' then cgjg else null end) bjxh, 
		 max(decode(ssdm, '02', t2.aaa103, null)) tjxt, max(case when ssdm = '02' and jgbs = 'L' then cgjg else null end) tjxl, max(case when ssdm = '02' and jgbs = 'H' then cgjg else null end) tjxh, 
		 max(decode(ssdm, '03', t2.aaa103, null)) jsxt, max(case when ssdm = '03' and jgbs = 'L' then cgjg else null end) jsxl, max(case when ssdm = '03' and jgbs = 'H' then cgjg else null end) jsxh, 
		 max(decode(ssdm, '04', t2.aaa103, null)) zjxt, max(case when ssdm = '04' and jgbs = 'L' then cgjg else null end) zjxl, max(case when ssdm = '04' and jgbs = 'H' then cgjg else null end) zjxh, 
		 max(decode(ssdm, '05', t2.aaa103, null)) gdxt, max(case when ssdm = '05' and jgbs = 'L' then cgjg else null end) gdxl, max(case when ssdm = '05' and jgbs = 'H' then cgjg else null end) gdxh, 
		 max(decode(ssdm, '06', t2.aaa103, null)) cqxt, max(case when ssdm = '06' and jgbs = 'L' then cgjg else null end) cqxl, max(case when ssdm = '06' and jgbs = 'H' then cgjg else null end) cqxh, 
		 max(decode(ssdm, '07', t2.aaa103, null)) ahxt, max(case when ssdm = '07' and jgbs = 'L' then cgjg else null end) ahxl, max(case when ssdm = '07' and jgbs = 'H' then cgjg else null end) ahxh, 
		 max(decode(ssdm, '08', t2.aaa103, null)) fjxt, max(case when ssdm = '08' and jgbs = 'L' then cgjg else null end) fjxl, max(case when ssdm = '08' and jgbs = 'H' then cgjg else null end) fjxh, 
		 max(decode(ssdm, '09', t2.aaa103, null)) jxxt, max(case when ssdm = '09' and jgbs = 'L' then cgjg else null end) jxxl, max(case when ssdm = '09' and jgbs = 'H' then cgjg else null end) jxxh, 
		 max(decode(ssdm, '10', t2.aaa103, null)) sdxt, max(case when ssdm = '10' and jgbs = 'L' then cgjg else null end) sdxl, max(case when ssdm = '10' and jgbs = 'H' then cgjg else null end) sdxh, 
		 max(decode(ssdm, '11', t2.aaa103, null)) hent, max(case when ssdm = '11' and jgbs = 'L' then cgjg else null end) henl, max(case when ssdm = '11' and jgbs = 'H' then cgjg else null end) henh, 
		 max(decode(ssdm, '12', t2.aaa103, null)) hbxt, max(case when ssdm = '12' and jgbs = 'L' then cgjg else null end) hbxl, max(case when ssdm = '12' and jgbs = 'H' then cgjg else null end) hbxh, 
		      max(decode(ssdm, '13', t2.aaa103, null)) lnxt, max(case when ssdm = '13' and jgbs = 'L' then cgjg else null end) lnxl, max(case when ssdm = '13' and jgbs = 'H' then cgjg else null end) lnxh, 
		      max(decode(ssdm, '14', t2.aaa103, null)) hbxt, max(case when ssdm = '14' and jgbs = 'L' then cgjg else null end) hbxl, max(case when ssdm = '14' and jgbs = 'H' then cgjg else null end) hbxh, 
		      max(decode(ssdm, '15', t2.aaa103, null)) hunt, max(case when ssdm = '15' and jgbs = 'L' then cgjg else null end) hunl, max(case when ssdm = '15' and jgbs = 'H' then cgjg else null end) hunh 
		 from ysqx.tb_hcwssjgxx_vert t1, ysqx.aa10 t2, 
		      (select * from(select row_number() over(partition by t1.hctbdm order by t1.hcxxid desc) sxh, t1.hctbdm, t1.pm, t1.ggxhsm, t1.jjdw, t2.qymc 
		                       from ysqx.Tb_Hcxx t1, ysqx.tb_qxscqy t2 where t1.scqybm = t2.qybm) where sxh = 1) t3 
		where t1.sstype = t2.aaa102 and t1.hctbdm = t3.hctbdm and t1.yxbz = '1' and t1.zt = '20' and t1.jsrq = '29991231' and t2.aaa100 = 'SSTYPE' and t2.aae100 = '1' 
		group by t1.hctbdm
    </select>
    
    <select id="getSeq"  
    	resultType="String" parameterType="String">
		select to_char(sysdate,'YYYYMMDD')||lpad(${_parameter}.nextval,10,'0')  from dual
    </select>
    
    <select id="getExcelFile"  
    	resultType="com.wondersgroup.shys.local.pub.common.model.bo.TbExcelFile" parameterType="String">
		select * from Tb_Excel_File where Sjrq=to_char(sysdate,'YYYYMM') and Wjlx=#{_parameter} and yxbz='1'
    </select>
    
    <insert id="saveExcelFile" parameterType="com.wondersgroup.shys.local.pub.common.model.bo.TbExcelFile">
	    insert into tb_excel_file
		 (wjid, wjmc, wjlx, wjlj, wjscsj, sjrq, yxbz)
		values
		 (#{wjid}, #{wjmc}, #{wjlx}, #{wjlj}, #{wjscsj}, #{sjrq}, #{yxbz})
    </insert>
    
    <update id="updateExcelFile" parameterType="com.wondersgroup.shys.local.pub.common.model.bo.TbExcelFile">
	    update tb_excel_file
		  set wjid = #{wjid},
		      wjmc = #{wjmc},
		      wjlx = #{wjlx},
		      wjlj = #{wjlj},
		      wjscsj = #{wjscsj},
		      sjrq = #{sjrq},
		      yxbz = #{yxbz}
		where wjid = #{wjid}
    </update>
</mapper>